tensorflow==1.12
PyWavelets==1.1.1
scipy==1.4.1
pandas==1.0.0
numpy==1.18.1
matplotlib==3.1.3
joblib==0.14.1
pyentrp==0.6.0
biosppy==0.6.1
simplejson-3.17.0
xgboost==1.0.2
bayesian-optimization==1.1.0
scikit-learn==0.22.1
samplerate==0.1.0
PyMedTermino==0.3.3
iterative-stratification==0.1.6
sortedcontainers==2.2.2
cython==0.29.17
requests==2.23.0
pytorch==1.4.0
numba==0.50.1