tensorflow==1.12
PyWavelets==1.1.1
scipy==1.4.1
pandas==1.0.0
numpy==1.18.1
matplotlib==3.1.3
joblib==0.14.1
pyentrp==0.6.0
biosppy==0.6.1
simplejson-3.17.0
xgboost==1.0.2
bayesian-optimization==1.1.0
scikit-learn==0.22.1